body {
  margin: 0;
}

a:-webkit-any-link {
  color: var(--teal-50);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p, small, span {
  all: unset;
  line-height: 1;
  display: block;
}

p, small, span {
  all: unset;
  line-height: 1;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.8rem;
}
span {
  font-size: 0.9rem;
}

@mixin bold-list {
  @for $i from 1 through 9 {
    .bold-#{$i}00 {
      font-weight: #{$i * 100};
    }
  }
}

@include bold-list;